<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="scripts">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="/app/assets/js/Custom.js"></script>
    <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn_eeNUCXgVCKP_qjZF9gjl-5v32rn59g&amp;libraries=places" async="async" defer="defer"></script>
    <script src="/js/custom.js"></script>
</div>

</body>
</html>