<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <head th:fragment="header" >
        <meta charset="UTF-8" />
        <meta name="google-signin-client_id" content="845842379459-hadfqevbp5qoogj7u1cav69k69pvns6c.apps.googleusercontent.com" />

        <title th:text="${title}"></title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link rel="stylesheet" href="/css/materialize.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/index.css" />
        <meta name="description" content="Find the best real mexican taco flavored places in San Antonio, Texas" />
        <meta name="keywords" content="mexican food, san antonio, tacos, mex, tex-mex, mexico, usa, texas, taquitos" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png" />
    </head>

</body>
</html>