<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Contact')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <h4>Let us know what do you think</h4>
        <div class="divider"></div>
        <div class="col s8 offset-s2">
            <form action="">
                <div class="input-field col s12">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" class="validate" />
                </div>
                <div class="input-field col s12">
                    <label for="name">Email:</label>
                    <input name="email" id="email" type="email" class="validate" />
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
                <div class="input-field col s12">
                    <label for="name">Message:</label>
                    <textarea class="materialize-textarea" name="msg" id="msg"></textarea>
                </div>
                <button class="btn waves-effect waves-light">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <p>Thanks for your feedback!</p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>