<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Find a taco near you')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <h4>Find the nearest taco place using our interactive map</h4>
        <div class="divider"></div>
        <br/>
        <div class="col s9 offset-s1">
            <form id="searchForm" action="">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input id="autocompleteMap" type="text" class="validate" />
                    <img class="powered-google right" src="/img/powered_by_google_on_white_hdpi.png" alt=""/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12">
            <br />
            <div id="map"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts :: scripts"></div>

<script src="js/maps.js"></script>

</body>
</html>