<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title ='SA Taco Radar')"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="/img/taco-header.jpg" />
        </div>
    </div>

    <div class="section white black-text">
        <div class="row container">
            <h3>It's not Tex-Mex it's Mex-Mex</h3>
            <div class="divider"></div>
            <p>Welcome to the Taco Radar a place where you can find the nearest and finest real mexican flavored tacos in San Antonio, Texas. If you ever wonder how a real taco taste like, you can give it a shot and see for yourself.</p>
            <p>Sign in with your Google account and let's start exploring</p>
            <div class="col s6 offset-s5 g-signin2" data-onsuccess="onSignIn" id="google-sign">Sign in</div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <img src="/img/taco-header-2.jpg" />
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>